.card-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  .card {
    padding: 30px;
    @include gap-flex-column(1.5rem);

    &--orange {
      background-color: $bright-orange;
      background-image: url('./../../images/icon-sedans.svg');
      background-repeat: no-repeat;
      position: top left;
      left: 50px;
      top: 10px;
      border-radius: 10px 0 0 10px;

      @media screen and (min-width: 360px) and (max-width: 1339px) {
        border-radius: 10px 10px 0 0;
      }
    }

    &--light-green {
      background-image: url('./../../images/icon-suvs.svg');
      background-repeat: no-repeat;
      position: top left;
      top: 30px;
      left: 50px;
      background-color: $dark-cyan;
    }

    &--dark-green {
      background-image: url('./../../images/icon-luxury.svg');
      background-repeat: no-repeat;
      position: top left;
      top: 30px;
      left: 50px;
      background-color: $very-dark-cyan;
      border-radius: 0 10px 10px 0;

      @media screen and (min-width: 360px) and (max-width: 1339px) {
        border-radius: 0 0 10px 10px;
      }
    }

    &__title {
      margin-left: 30px;
      text-transform: uppercase;
      font-family: $font-fam-big-shoulders;
      font-size: 2rem;
      color: #fff;
    }

    &__content {
      margin-left: 30px;
      font-family: $font-fam-lexend;
      color: $transparent-white;
    }

    &__submit {
      margin-left: 30px;
      padding: 13px;
      border-radius: 30px;
      border: none;
      background-color: #fff;
      font-size: 15px;

      &--orange {
        color: $bright-orange;
      }

      &--light-green {
        color: $dark-cyan;
      }

      &--dark-green {
        color: $very-dark-cyan;
      }

      &:hover {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 1339px) {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
